# Artefatos de Compilação (Ignora em qualquer pasta)
*.o
*.elf
*.bin
*.iso

# Pasta de Build (Onde a mágica acontece agora)
/build/
/iso/boot/kernel.elf
/iso/modules/

# Logs do Emulador (Para o Git não rastrear suas sessões de teste)
bochslog.txt
com1.out